---
import ServiceMoreInfoItemWithBg from "../ServiceMoreInfoItemWithBg.astro";
---

<ServiceMoreInfoItemWithBg
  imagePC="https://getquicktech.com.au/wp-content/uploads/2021/07/computer-repair-services-miami-1.jpg"
  imagePCAlt="Formatear o Instalar sistema operativo Windows 11"
  imageMobile="https://pacificwesttechnologies.ca/wp-content/uploads/2022/10/jeshoots-com-sMKUYIasyDM-unsplash.jpg"
  imageMobileAlt="Mantenimiento de software o sistema"
  id="hardware-install"
  diagnosticLink="https://wa.me/+573012704690?text=Hola,%20me%20interesa%20obtener%20más%20información"
>
  <span slot="title">
    <h1
      class="font-extrabold mb-4 text-[32px] leading-7 font-[Poppins] sm:text-3xl md:text-[50px] md:leading-11 max-md:text-center"
    >
      Instalación <span class="text-sky-600">de hardware</span>
    </h1>
  </span>
  <span slot="description">
    <p class="mb-4 lg:text-2xl">
      <b>Este es el servicio que ofrecemos para la instalación de hardware en
        computadores de escritorio</b>, asegurando que todos los componentes estén correctamente instalados y
      configurados. Los procedimientos que seguimos son:
    </p>
    <ul class="list-disc flex flex-col gap-4 pl-5 mb-4 lg:text-lg">
      <li>Evaluación de las necesidades de hardware del cliente</li>
      <li>Selección de componentes adecuados</li>
      <li>Instalación física de los componentes</li>
      <li>Configuración del sistema para el nuevo hardware</li>
    </ul>
  </span>
</ServiceMoreInfoItemWithBg>
