---
import ServiceMoreInfoItem from "../ServiceMoreInfoItem.astro";
---

<ServiceMoreInfoItem
  imagePC="https://document360.com/wp-content/uploads/2023/01/how_to_create_software_installation_guide.png"
  imagePCAlt="Formatear o Instalar sistema operativo Windows 11"
  imageMobile="https://www.techspot.com/images2/news/bigimage/2025/03/2025-03-29-image-10.jpg"
  imageMobileAlt="Mantenimiento de software o sistema"
  id="software-install"
  diagnosticLink="https://wa.me/+573012704690?text=Hola,%20me%20interesa%20obtener%20más%20información"
>
  <span slot="title">
    <h1
      class="font-extrabold mb-4 text-[32px] leading-7 font-[Poppins] sm:text-3xl md:text-[50px] md:leading-11 max-md:text-center"
    >
      Instalación <span class="text-sky-600">de software</span>
    </h1>
  </span>
  <span slot="description">
    <p class="mb-4 lg:text-2xl">
      <b
        >Este es el servicio que ofrecemos para la instalación de software en
        computadores de escritorio</b
      >, asegurando que todas las aplicaciones necesarias estén correctamente
      configuradas y listas para usar. Los procedimientos que seguimos son:
    </p>
    <ul class="list-disc flex flex-col gap-4 pl-5 mb-4 lg:text-lg">
      <li>Evaluación de las necesidades de software del cliente</li>
      <li>Instalación del sistema operativo (si es necesario)</li>
      <li>Instalación de controladores y actualizaciones</li>
      <li>Configuración de aplicaciones y herramientas necesarias</li>
    </ul>
  </span>
</ServiceMoreInfoItem>
