---
import Image from "astro/components/Image.astro";
import image1 from "../../assets/tarea.png";
---

<section class="mx-auto py-10 px-2 lg:w-[1000px]">
  <div
    class="bg-gradient-to-b relative from-cyan-500 to-blue-500 text-white rounded-xl shadow-lg h-85 sm:h-88 lg:h-130"
  >
    <Image
      src={image1}
      alt="Diseño de páginas web"
      class="absolute max-[880px]:hidden -bottom-8 right-0 md:w-90 lg:-right-2 xl:w-100 xl:-right-10"
    />
    <Image
      src={image1}
      alt="Diseño de páginas web"
      class="absolute max-[880px]:block hidden -bottom-7 w-48 right-0 sm:w-76 md:right-4"
    />
    <div class="p-8">
      <h1
        class="text-[32px] font-[Poppins] max-w-[250px] sm:max-w-sm lg:max-w-lg font-extrabold max-sm:leading-9 max-lg:leading-12 sm:text-5xl lg:text-6xl"
      >
        Proyectos universitarios
      </h1>
      <p
        class="font-thin mt-2 leading-5 text-pretty text-sm lg:text-xl lg:leading-6 max-w-xs md:max-w-sm lg:max-w-md"
      >
        Si necesitas ayuda con tus proyectos universitarios, estamos aquí para
        apoyarte.
      </p>
    </div>
  </div>
</section>
