<section class="bg-gradient-to-b from-cyan-500 to-blue-500 text-white text-center p-10 md:p-20" id="about-us">
  <h1 class="text-4xl sm:text-5xl font-extrabold mb-4">¿Quienes Somos?</h1>
  <div class="max-w-xl mx-auto flex flex-col items-center justify-center gap-6">
    <p class="text-lg sm:text-xl font-bold">
      Somos un equipo de profesionales dedicados a brindar soluciones
      innovadoras con el objetivo de satisfacer las necesidades de nuestros
      clientes.
    </p>
    <p class="sm:text-lg">
      Nos especializamos en el desarrollo de software, la instalación de
      hardware y el mantenimiento de equipos, ofreciendo un servicio integral
      y personalizado.
    </p>
    <p class="border border-dashed border-white p-4">
      En <b>Click&Fix</b> nos comprometemos a brindar un servicio de calidad
    </p>
  </div>
</section>
