<a href="https://wa.me/+573012704690?text=Hola,%20me%20interesa%20obtener%20más%20información" target="_blank" rel="noopener noreferrer">
  <button
    class="fixed cursor-pointer bottom-6 right-6 bg-gradient-to-b from-green-500 to-green-600 p-2 rounded-xl flex items-center justify-center shadow-lg transition-all hover:scale-110"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
      alt="WhatsApp"
      class="size-10"
    />
  </button>
</a>
