---
import ServiceMoreInfoItem from "../ServiceMoreInfoItem.astro";
---


<ServiceMoreInfoItem
  imagePC="https://www.computronixco.com/wp-content/uploads/2024/06/Formatear-o-Instalar-sistema-operativo-Windows-11-2.jpg"
  imagePCAlt="Formatear o Instalar sistema operativo Windows 11"
  imageMobile="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Meet-Windows-11-panel-2-content-card-1?scl=1"
  imageMobileAlt="Mantenimiento de software o sistema"
  id="system-maintenance"
>
  <span slot="title"><h1
      class="font-extrabold mb-4 text-[32px] leading-7 font-[Poppins] sm:text-3xl  md:text-[50px] md:leading-11 max-md:text-center"
    >
      Mantenimiento de <span class="text-sky-600">software</span>
    </h1>
  </span>
  <span slot="description">
    <p class="mb-4 lg:text-2xl">
      <b
        >Mejoramos el rendimiento del sistema operativo o software de tu
        computadora</b
      >, para que sea más rápida la carga de programas o sitios web. Estos son
      los procedimientos que nuestro técnico especializado realizará en su
      computadora para optimizar el software:
    </p>
    <ul class="list-disc flex flex-col gap-4 pl-5 mb-4 lg:text-lg">
      <li>Optimización de la configuración del sistema operativo</li>
      <li>Desinstalación de programas innecesarios</li>
      <li>Actualización de controladores y software</li>
      <li>Eliminación de malware y virus</li>
    </ul>
  </span>
</ServiceMoreInfoItem>
