---
import ServiceMoreInfoItem from "../ServiceMoreInfoItem.astro";
---

<ServiceMoreInfoItem
  imagePC="https://livetek.com.co/wp-content/uploads/2021/02/mantenimiento-correctivo-de-computadores.png"
  imagePCAlt="Formatear o Instalar sistema operativo Windows 11"
  imageMobile="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Meet-Windows-11-panel-2-content-card-1?scl=1"
  imageMobileAlt="Mantenimiento de software o sistema"
  id="total-maintenance"
>
  <span slot="title">
    <h1
      class="font-extrabold mb-4 text-[32px] leading-7 font-[Poppins] sm:text-3xl md:text-[50px] md:leading-11 max-md:text-center"
    >
      Mantenimiento <span class="text-sky-600">total</span>
    </h1>
  </span>
  <span slot="description">
    <p class="mb-4 lg:text-2xl">
      <b
        >Este es el mantenimiento más completo que hacemos a computadores de
        escritorio</b
      >, ya que se implementan todos los procedimientos de los mantenimientos
      anteriores. Es un servicio mixto que incluye al servicio mantenimiento del
      sistema y al servicio de Mantenimiento físico para computadores
    </p>
    <ul class="list-disc flex flex-col gap-4 pl-5 mb-4 lg:text-lg">
      <li>Optimización de la configuración del sistema operativo</li>
      <li>
        Desensamble de la computadora pc para limpiar cada una de sus partes.
      </li>
      <li>Actualización de controladores y software</li>
      <li>Ensamble de partes nuevas (En caso de ser necesario)</li>
    </ul>
  </span>
</ServiceMoreInfoItem>
