---
import "../styles/global.css";
import '@fontsource-variable/manrope';
import '@fontsource/poppins';
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Click&Fix</title>
    <meta name="description" content="Ofrecemos distintos servicios de tecnologia en Colombia para satisfacer tus necesidades." />
    <meta name="keywords" content="reparacion de computadores, instalacion de software, instalacion de hardware, paginas web, creacion de paginas web en colombia, mantenimiento de equipos" />
    <meta name="author" content="Click&Fix" />
  </head>
  <body class="flex flex-col items-center justify-center">
    <slot />
  </body>
</html>

<style>
  html {
    font-family: "Manrope Variable", sans-serif;
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
