---
import DiagnosticBtn from "../DiagnosticBtn.astro";
import ServiceMoreInfoItemWithBg from "../ServiceMoreInfoItemWithBg.astro";
---

<ServiceMoreInfoItemWithBg
  imagePC="https://cdn.psdrepo.com/images/2x/free-landing-page-psd-template-h7.jpg"
  imagePCAlt="Web personalizada"
  imageMobile="https://enwpgo.wordpress.com/wp-content/uploads/2023/09/landing-page-mockup-tech-startup.jpg?w=1024"
  imageMobileAlt="Web personalizada"
  id="personalized-page"
  diagnosticLink="https://wa.me/+573012704690?text=Hola,%20me%20interesa%20obtener%20más%20información"
>
  <span slot="title">
    <h1 class="font-semibold max-md:text-center">DISEÑO PÁGINAS WEB</h1>
    <h1
      class="font-extrabold mb-4 text-[32px] leading-7 font-[Poppins] sm:text-3xl md:text-[50px] md:leading-11 max-md:text-center"
    >
      Pagina web <span class="text-sky-600">personalizada</span>
    </h1>
  </span>
  <span slot="description">
    <p class="mb-4 lg:text-2xl">
      Una página web personalizada es aquella que <b>se adapta a las necesidades y objetivos específicos de un negocio o
      cliente</b>. A diferencia de las plantillas genéricas, las páginas personalizadas se
      diseñan y desarrollan desde cero, teniendo en cuenta la identidad de la
      marca, el público objetivo y las funcionalidades requeridas.
    </p>
  </span>
</ServiceMoreInfoItemWithBg>
