---
import ServiceMoreInfoItem from "../ServiceMoreInfoItem.astro";
---

<ServiceMoreInfoItem
  imagePC={"https://items.epicpxls.com/uploads/photo/ab024bfc80ffe7e4a44ebe06161c642f"}
  imagePCAlt="Tienda Virtual"
  imageMobile={"https://i.ytimg.com/vi/37KohMnlP7Q/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAJY4xuOHXxXOdwci7ao4ZN4aazUA"}
  imageMobileAlt="Tienda Virtual"
  id="virtual-shop"
  diagnosticLink="https://wa.me/+573012704690?text=Hola,%20me%20interesa%20obtener%20más%20información"
>
  <span slot="title">
    <h1 class="font-semibold max-md:text-center">DISEÑO PÁGINAS WEB</h1>
    <h1
      class="font-extrabold mb-4 text-[32px] leading-7 font-[Poppins] sm:text-3xl md:text-[50px] md:leading-11 max-md:text-center"
    >
      Tienda <span class="text-sky-600">Virtual</span>
    </h1>
  </span>
  <span slot="description">
    <p class="mb-4 lg:text-2xl">
      Una tienda virtual es una plataforma en línea que permite a los
      comerciantes <b>vender productos o servicios a través de Internet</b>.
      Estas tiendas ofrecen una experiencia de compra conveniente y accesible
      para los clientes, ya que pueden navegar por el catálogo de productos,
      agregar artículos al carrito de compras y realizar pagos de manera segura
      desde cualquier lugar y en cualquier momento.
    </p>
  </span>
</ServiceMoreInfoItem>
